
.custom-slider {
  &::-webkit-slider-runnable-track {
    background: #00FF00 !important;
  }

  &::-webkit-slider-thumb {
    background: #E6E5EA !important;
  }
  &::-moz-range-thumb{
    background-color: #E6E5EA !important;
  }
  &::-moz-range-progress{
    background-color: #00FF00;
  }
  &::-moz-range-track{
    background-color: #18171F !important;
  }
}
